<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Entry Form</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<form action="/save" method="post">

    <div class="form-group">
    <label for="email_adress">email_adress:</label>
    <input type="text" class="form-control" name="email_adress">
  </div>
    <div class="form-group">
    <label for="dob">dob:</label>
    <input type="text" class="form-control" name="dob">
  </div>
     <div class="form-group">
    <label for="course">Course:</label>
    <input type="text" class="form-control" name="course">
  </div>
  <div class="form-group">
    <label for="names">names:</label>
    <input type="text" class="form-control" name="names">
  </div>
  <div class="form-group">
    <label for="gender">gender:</label>
    <input type="text" class="form-control" name="gender">
  </div>
  <div class="form-group">
    <label for="country">country:</label>
    <input type="text" class="form-control" name="country">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>